    
    .form__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .form__error {
        color: red;
        font-size: 12px;
        display: none;
    }

    
    .form__error--active {
        display: block;
    }
