  .field__wrapper {
    width: 100%;
    display: grid;
    position: relative;
    
    & .field__icon {
      cursor: pointer;
      transition: opacity 0.7s;
    }    
  
}


.field__input {
  padding-right: calc(16px + 20px + 16px);
}