.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; 

    /* position: relative;
    padding-top: 108px;
    gap: 16px;        
    height: 683px;
    width:  393px;
    max-width: 100%;   
    background-image: url(welcome-bg-image.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left -184px top 0px;   
    z-index: 2; */
}

.heading__inline {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: baseline;
    width:  393px;
    max-width: 100%;  
}



