body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  display: flex;
    flex-direction: column;    
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.App-link {
  text-decoration: none;
  color: #FFFFFF;  
}

.icon--small {
  display: block;
  width: 16px;
  height: 16px;   
  background-size: contain;
  background-repeat: no-repeat;
}